<div class="row">
  <div class="col">
    <div class="div-login-main shadow-lg p-3 mb-5 bg-white">
      <h4>Регистрация</h4>
      <form>
        <div class="form-group">
          <label for="login">Логин</label>
          <input type="email" class="form-control" id="login" placeholder="Введите логин">
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="password" class="form-control" id="password" placeholder="Введите пароль">
        </div>
        <button type="submit" class="btn btn-outline-warning">Войти</button>
      </form>
    </div>
  </div>
</div>
