<div class="row">
  <div class="col">
    <div class="div-login-main shadow-lg p-3 mb-5 bg-white">
      <h4>Регистрация</h4>
      <form method="post" [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="login">Логин</label>
          <input formControlName="login" type="email" class="form-control" id="login" placeholder="Введите логин">
          <div *ngIf="form.get('login')!.invalid && form.get('login')!.touched">
            <p>Поле логина должно быть заполнено!</p>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input formControlName="pass" type="password" class="form-control" id="password" placeholder="Введите пароль">
          <div *ngIf="form.get('pass')!.invalid && form.get('pass')!.touched">
            <p>Поле пароля (9 символов!) должно быть заполнено!</p>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-warning">Войти</button>
      </form>
    </div>
  </div>
</div>
