<div class="main shadow-lg p-3 mb-5 bg-white">
  <div class="row">
    <div class="div-img col-sm-12 col-md-6 col-lg-4">
      <div>
        <img src="{{memberPost.poster}}" class="card-img-top img-article-left card shadow-lg bg-white">
      </div>
    </div>
    <div class="div-text col-sm-12 col-md-6 col-lg-8">
      <div class="card-body">
        <h4 class="card-title"><b>{{memberPost.nameMember}}</b></h4>
        <div>
          <p class="card-text">
            Страна: {{memberPost.country}}
          </p>
          <p class="card-text">
            День рождения: {{memberPost.birthday | date}}
          </p>
          <p class="card-text">
            Амплуа: {{memberPost.roles}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="div-annotaion col-12">
      {{memberPost.information}}
    </div>
  </div>
</div>
