<div class="main shadow-lg p-3 mb-5 bg-white">
  <div class="row">
    <div class="div-img col-sm-12 col-md-6 col-lg-4">
      <div>
        <img src="{{memberPost.getImage()}}" height="580px" width="210px" class="card-img-top img-article-left card shadow-lg bg-white">
      </div>
    </div>
    <div class="div-text col-sm-12 col-md-6 col-lg-8">
      <div class="card-body">
        <h4 class="card-title"><b>{{memberPost.getName()}}</b></h4>
        <div>
          <p class="card-text">
            День рождения: {{memberPost.getBirthdate() | date}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="div-annotation col-12">
      {{memberPost.getInformation()}}
    </div>
  </div>
  <div class="row">
    <div class="div-annotation col-1">
      <button class="btn btn-danger" (click)="deleteMember()">Удалить</button>
    </div>
    <div class="div-annotation col-1">
      <a [routerLink]="['/edit_member', memberPost.getId()]" class="btn btn-warning">Редактировать</a>
    </div>
  </div>
</div>
