<div class="row">
  <div class="col">
    <div class="div-login-main shadow-lg p-3 mb-5 bg-white">
      <h4>Авторизация</h4>
<!--      <form [formGroup]="loginForm" (ngSubmit)="login">-->
<!--        <div class="form-group">-->
<!--          <label for="login">Логин</label>-->
<!--          <input type="login" class="form-control" id="login" placeholder="Введите логин" ngModel name="login" required>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="password">Пароль</label>-->
<!--          <input type="password" class="form-control" id="password" placeholder="Введите пароль" ngModel-->
<!--                 name="password" required>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-outline-warning">Войти</button>-->
<!--      </form>-->
    </div>
  </div>
</div>
