<div class="row">
  <nav class="navbar navbar-expand  navbar-light bg-light fixed-navbar">
    <div class="col-xs-12 col-sm-2 col-md-2">
      <a class="navbar-brand" routerLink=""> <img class="logo" src="{{logoUrl}}"  alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <form class="d-flex mx-auto sm">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Поиск</button>
      </form>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
      <a class="nav-link" routerLink="login">Вход</a>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
      <a class="nav-link" routerLink="registration">Регистрация</a>
    </div>
  </nav>
</div>

