<div class="row">
  <nav class="navbar navbar-expand  navbar-light bg-light fixed-navbar">
    <div class="col-xs-12 col-sm-2 col-md-2">
      <a class="navbar-brand" routerLink=""> <img class="logo" src="{{logoUrl}}"  alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <h1 class="title" style="color: #FFC107FF;">Фильмофил</h1>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
      <a class="nav-link" routerLink="create_film">Добавить фильм</a>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
      <a class="nav-link" routerLink="create_member">Добавить актера</a>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
      <a class="nav-link" routerLink="create_genre">Добавить жанр</a>
    </div>
  </nav>
</div>

