<div class="main shadow-lg p-3 mb-5 bg-white">
  <div class="row">
    <div class="div-img col-sm-12 col-md-6 col-lg-4">
      <div>
        <img src="{{filmPost.getPoster()}}" class="card-img-top img-article-left card shadow-lg bg-white">
      </div>
    </div>
    <div class="div-text col-sm-12 col-md-6 col-lg-8">
      <div class="card-body">
        <div class="div-film-title"><h4 class="card-title"><b>{{filmPost.getName()}}</b>
          ({{filmPost.getDateRelease() | date:'yyyy'}})
        </h4>
          <p class="card-subtitle">{{filmPost.getOriginalName()}}</p></div>
        <div>
          <p class="card-text">
            Дата выхода: {{filmPost.getDateRelease() | date}}
          </p>
          <ul class="list-inline">
            Жанр:
            <li *ngFor="let genre of filmPost.getGenres()" class="list-inline-item">{{genre}} |</li>
          </ul>
<!--          <p *ngFor="let writer of filmPost.writers" class="card-text">-->
<!--            Сценарист:<a [routerLink]="['/member', writer?.primaryKey]" class="link-warning"> {{writer.nameMember}}</a>-->
<!--          </p>-->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="div-annotation col-12">
      {{filmPost.getAnnotation()}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="div-input">
        <textarea class="form-control" type="text" rows="10" placeholder="Оставьте свой отзыв!"></textarea>
        <button class="btn btn-outline-warning" type="submit">Оставить отзыв</button>
      </div>
    </div>
  </div>
</div>
