<div class="main shadow-lg p-3 mb-5 bg-white">
  <div class="row">
    <div class="div-img col-sm-12 col-md-6 col-lg-4">
      <div>
        <img src="{{filmPost.poster}}" class="card-img-top img-article-left card shadow-lg bg-white">
      </div>
    </div>
    <div class="div-text col-sm-12 col-md-6 col-lg-8">
      <div class="card-body">
        <div class="div-film-title"><h4 class="card-title"><b>{{filmPost.nameFilm}}</b>
          ({{filmPost.dateRelease | date:'yyyy'}})
        </h4>
          <p class="card-subtitle">{{filmPost.originalName}}</p></div>
        <div>
          <p class="card-text">
            Страна: {{filmPost.country}}
          </p>
          <p class="card-text">
            Дата выхода: {{filmPost.dateRelease | date}}
          </p>
          <ul class="list-inline">
            Жанр:
            <li *ngFor="let genre of filmPost.genres" class="list-inline-item">{{genre}} |</li>
          </ul>
          <p *ngFor="let actor of filmPost.actors" class="card-text">
            В ролях:<a [routerLink]="['/member', actor?.primaryKey]" class="link-warning"> {{actor.nameMember}}</a>
          </p>
          <p *ngFor="let director of filmPost.directors" class="card-text">
            Режиссер:<a [routerLink]="['/member', director?.primaryKey]" class="link-warning"> {{director.nameMember}}</a>
          </p>
          <p *ngFor="let operator of filmPost.operators" class="card-text">
            Оператор:<a [routerLink]="['/member', operator?.primaryKey]" class="link-warning"> {{operator.nameMember}}</a>
          </p>
          <p *ngFor="let producer of filmPost.producers" class="card-text">
            Продюсер:<a [routerLink]="['/member', producer?.primaryKey]" class="link-warning"> {{producer.nameMember}}</a>
          </p>
          <p *ngFor="let writer of filmPost.writers" class="card-text">
            Сценарист:<a [routerLink]="['/member', writer?.primaryKey]" class="link-warning"> {{writer.nameMember}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="div-annotation col-12">
      {{filmPost.annotation}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="div-input">
        <textarea class="form-control" type="text" rows="10" placeholder="Оставьте свой отзыв!"></textarea>
        <button class="btn btn-outline-warning" type="submit">Оставить отзыв</button>
      </div>
    </div>
  </div>
</div>
